* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(120deg, #525e56 20%, #7b9474 80%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }

  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    font-size: 20px;
  }


  .todo-input {
    width: 270px;
    height: 35px;
    color: rgb(71, 71, 69);
    background-color: rgb(252, 253, 253);
    border: rgb(66, 66, 66) 2px solid;
    /* border-radius: 8px; */
  }

  .todo-button {
    background-color: rgb(146, 145, 142);
    width: 70px;
    height: 33px;
    margin-left: 3px;
    border-radius: 3px;
    border: 1px solid rgb(68, 66, 66);
  }

  .todo-button:hover {
    background-color: #525e56;
    transform: scale(1.1);
    transition: 0.4s;
  }

  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20%;
    margin-top: 3%; */
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
 
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .trash-btn:hover {
    transform: scale(1.1);
  }
  .complete-btn {
    background: rgb(11, 212, 162);
  }

  .complete-btn:hover {
    transform: scale(1.1);
  }

  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}
  